.body {
  top: 12vh;
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: #e2e8f0;
  text-align: center;
  scroll-behavior: smooth;
}

.hero {
  background-color: #e2e8f0;
  height: 50vh;
}

.heroSection {
  display: flex;
  align-items: center;
}
.heroTitle {
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
}

.logoImage {
  display: flex;
  align-items: center;
  height: 40vh;
}
.logoImage img {
  width: 20vw;
  height: 200px;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50px;
}

.searchInput {
  width: 45vw;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

.searchBtn {
  padding: 8px 16px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 8vw;
  margin-bottom: 6px;
}

.searchBtn:hover {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(168, 200, 240);
  border-radius: 25px;
  min-height: 250px;
}
::-webkit-scrollbar-track {
  background-color: #e2e8f0;
  border-radius: 25px;
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    display: flex;
    justify-content: end;
    text-align: left;
  }
  .searchBar {
    flex-direction: column;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .searchInput {
    width: 60vw;
  }
  .searchBtn {
    width: 60vw;
    margin-top: 8px;
  }
  .logoImage {
    display: none;
  }
}
