.cards {
  top: 62vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 60px;
  background-color: white;
}

.card {
  box-shadow: 3px 8px 8px #00000029;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px;
}

.image {
  background-color: #e2e8f0;
}

.image img {
  width: 25vw;
  height: 20vh;
  background-color: #79edf8;
}

.cardContent {
  background-color: #e2e8f0;
}

.cardTitle {
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: 10px;
}

.cardDescription {
  color: #45484d;
  margin-left: 10px;
}

@media screen and (min-width: 350px) and (max-width: 768px) and (min-height: 100vh) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .card {
    width: 67vw;
    height: 25vh;
    margin: 10%;
  }
  .image img {
    width: 67vw;
  }
}
