.body {
  top: 130px;
  position: absolute;
  width: 100vw;
  background-color: #e2e8f0;
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.hero {
  display: block;
  background-color: #e2e8f0;
  height: 50vh;
}

.heroSection {
  display: flex;
  align-items: center;
}
.heroTitle {
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.logoImage {
  display: flex;
  align-items: center;
  height: 50vh;
}
.logoImage img {
  width: 20vw;
  height: 200px;
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50px;
}

.searchInput {
  width: 45vw;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

.searchBtn {
  padding: 8px 16px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 8vw;
  margin-bottom: 6px;
}

.searchBtn:hover {
  background-color: #333;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  width: 100vw;
  margin-top: 60px;
  background-color: white;
}

.image {
  background-color: #c0c8d2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 25vw;
  height: 250px;
  margin-top: 30px;
}

.cardContent {
  background-color: #e2e8f0;
}

.cardTitle {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.cardDescription {
  color: #45484d;
  text-align: left;
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(168, 200, 240);
  border-radius: 25px;
  min-height: 250px;
}
::-webkit-scrollbar-track {
  background-color: #e2e8f0;
  border-radius: 25px;
}

@media screen and (min-width: 350px) and (max-width: 768px) {
  .hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroSection {
    flex-direction: column;
    width: 100vw;
    height: 40vh;
  }
  .heroTitle {
    display: flex;
    justify-content: end;
    text-align: left;
  }
  .searchBar {
    flex-direction: column;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .searchInput {
    width: 60vw;
  }
  .searchBtn {
    width: 60vw;
    margin-top: 8px;
  }
  .logoImage {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    padding: 0;
  }
  .image {
    width: 67vw;
    height: 25vh;
    /* display: none; */
    padding: 0;
  }
  .cardContent {
    width: 67vw;
  }
}
